'global':
  'exception-reporting':
    'userId': '5ea76c05-e3ea-db80-313b-35e2265ed483'
  'welcome':
    'showOnStartup': false
  'metrics':
    'userId': '02843a37a2e0674a9b90b2a2d3b2b17a6f7bd521'
  'core':
    'disabledPackages': [
      'vim-mode'
      'autosave'
      'minimap'
      'preview-tabs'
    ]
    'themes': [
      'seti-ui'
      'monokai'
    ]
    'projectHome': '/home/fcabrol/Workspace'
    'destroyEmptyPanes': false
  'editor':
    'showIndentGuide': true
    'showInvisibles': true
    'tabLength': 4
    'zoomFontWhenCtrlScrolling': true
    'fontSize': 21
  'highlight-column':
    'opacity': 0.15
    'enableHighlight': false
  'merge-conflicts':
    'gitPath': '/usr/bin/git'
  'tree-view':
    'hideVcsIgnoredFiles': true
  'markdown-preview':
    'breakOnSingleNewline': true
  'mobile-preview':
    'defaultUrl': 'localhost:3000'
    'keepLastUrl': true
  'minimap':
    'displayMinimapOnLeft': true
    'displayPluginsControls': false
  'autoclose-html': {}
  'linter': {}
'.shell.source':
  'editor': {}
'.shell-session.text':
  'editor': {}
